@page
@model projectf22.Pages.Create.Create_EventModel
@{
}

<form method="post">
    <input type="text" asp-for="ev.EventName" placeholder="Event Name" />
    <input type="datetime-local" asp-for="ev.EventDate" placeholder="Event Date" />
    <label for="EventImages">Event Images</label>
    <select asp-for="ev.EventImages" id="EventImages">
        @for (int i = 1; i <= 25; i++)
        {
            string imageName = $"image{i}.jpg";
            <option value="@imageName">@imageName</option>
        }
    </select>
    
    <input type="number" asp-for="ev.EventLocationID" placeholder="Location ID" />
    <input type="number" asp-for="ev.EventAdminID" placeholder="Admin ID" />

    <label asp-for="ev.Type">Event Type</label>
    <select asp-for="ev.Type">
        <option value="Sport">Sport</option>
        <option value="Entertainment">Entertainment</option>
    </select>

    <input type="text" asp-for="ev.Eventdescription" placeholder="Event Description" />
    <br />
    <button class="btn btn-primary" type="submit">Add new Event</button>
</form>
