@page
@model projectf22.Pages.Create.Create_BookingModel
@{
    <form method="post">
        <input type="text" asp-for="booking.UserID" placeholder="UserID" />
        <input type="text" asp-for="booking.BookingDate" placeholder="BookingDate" />
        <input type="text" asp-for="booking.NumOfTickets" placeholder="NumOfTickets" />
        <input type="text" asp-for="booking.TotalPrice" placeholder="TotalPrice" />
        <br />
        <button class="btn btn-primary" type="submit">Add new Book</button>
    </form>
}
