@page
@model projectf22.Pages.Create.Create_AdminModel
@{
    <form method="post">

        <input type="text" asp-for="Admin.AdminName" placeholder="Admin Name" />
        <input type="text" asp-for="Admin.Role" placeholder="Admin Role" />
        <input type="email" asp-for="Admin.AdminEmail" placeholder="Admin Email" />
        <input type="string" asp-for="Admin.AdminPassword" placeholder="AdminPassword" />
        <br />
        <button class="btn btn-primary" type="submit">Add new Admin</button>

    </form>
}
