@page
@model AdminModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="page-heading-shows-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Admin</h2>
                <span>Welcome, Admin! Your expertise keeps everything running smoothly.</span>
            </div>
        </div>
    </div>
</div>

<div class="shows-events-tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading-tabs">
                            <div class="row">
                                <div class="col-lg-8">
                                    <ul>
                                        <li><a href='#tabs-1'>Admin Dashboard</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <section class='tabs-content'>
                            <article id='tabs-1'>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="sidebar">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="heading-sidebar">
                                                        <h4>Tables:</h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="month">
                                                        <h6>Data Tables</h6>
                                                        <ul>
                                                            <li><a asp-page="/Admin_Page/A_User">User</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Admin">ADMIN</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Organizer">ORGANIZER</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Booking">BOOKING</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Promotions">PROMOTIONS</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Payment">PAYMENT</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Reviews">REVIEWS</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Location">LOCATION</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Ticket">TICKET</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Event">EVENT</a></li>
                                                            <li><a asp-page="/Admin_Page/A_SocialMedialinks">SOCIALMEDIALINKS</a></li>
                                                            <li><a asp-page="/Admin_Page/A_Chat">CHARTS</a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-12 text-center mb-4">
                                                        <div class="thumb">
                                                            <img src="/Images/Admin1_AbdelateefKhaled.jpeg" class="w-auto" style="max-width: 250%; max-height: 400px;" />
                                                        </div>
                                                        <p style="font-weight: bold; font-size: 24px; color: #333;">Abdelateef Khaled</p>
                                                        <p style="font-weight: bold; font-size: 20px; color: #666;">Aerospace & Information Engineer</p>
                                                    </div>
                                                    <div class="col-lg-12 text-center mb-4">
                                                        <div class="thumb">
                                                            <img src="/Images/Admin2Abdallah Abbas.jpg" class="w-auto" style="max-width: 200%; max-height: 400px;" />
                                                        </div>
                                                        <p style="font-weight: bold; font-size: 24px; color: #333;">Abdallah Abbas</p>
                                                        <p style="font-weight: bold; font-size: 20px; color: #666;">NANENG & Information Engineer</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-lg-12 text-center mb-4">
                                                        <div class="thumb">
                                                            <img src="/Images/Admin3Aya.jpg" class="w-auto" style="max-width: 200%; max-height: 400px;" />
                                                        </div>
                                                        <p style="font-weight: bold; font-size: 24px; color: #333;">Aya Abderhaman</p>
                                                        <p style="font-weight: bold; font-size: 20px; color: #666;">Aerospace & Information Engineer</p>
                                                    </div>
                                                    <div class="col-lg-12 text-center mb-4">
                                                        <div class="thumb">
                                                            <img src="/Images/Admin4_Seif.jpg" class="w-auto" style="max-width: 200%; max-height: 400px;" />
                                                        </div>
                                                        <p style="font-weight: bold; font-size: 24px; color: #333;">Seif Raslan</p>
                                                        <p style="font-weight: bold; font-size: 20px; color: #666;">Aerospace & Information Engineer</p>
                                                    </div>
                                                </div>
                                            </div>

<<<<<<< HEAD
=======
                                        </div>
>>>>>>> e6f3a38ab56485d02ec0dfcd090e05cb3b9e4bfe
                                    </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* 3neba *@
