@page
@model projectf22.Pages.LoginModel
@{
}
 <div class="page-heading-rent-venue">
        <div class="container">
            <div class="row">
                    <h2>Login</h2>

            </div>
        </div>
    </div>

    <div class="rent-venue-tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rent-venue-application">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="heading-text">
                        <h4>Login</h4>
                    </div>
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">

                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input type="text" id="id" placeholder="User ID*" required="" asp-for="@Model.ID">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input type="name" id="name" placeholder="Username*" required="" asp-for="@Model.Name">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input type="password" id="password" placeholder="Password*" required="" asp-for="@Model.pass">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button">Login</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


 